.mensagem{
    width: 30%;
    padding: 1em;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}
.sucesso{
    color: blue;
    background-color: white;
    border: 3px solid blue;
}
.erro{
    color:red;
    background-color: white;
    border: 3px solid red;
}

